.main-container .background-image-holder {
    filter: blur(3px);
}

.mini-title {
    color: #c59b75;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Lato';
    margin-bottom: 16px;
}

.map {
    padding-top: 0;
}

.faq > div {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.faq ul {
    padding: 0;
}

.faq h2 {
    margin-bottom: 60px;
}

.faq h6 {
    font-size: 14px;
}

.faq p {
    margin-bottom: 20px;
}

.story .photo {
    width: 360px;
    height: 330px;
    overflow: hidden;
    margin-bottom: 10px;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dance {
    top: -10% !important;
}

.accom {
    text-align: center;
}

.accom img {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto 30px;
    fill: #444444;
}

.custom-link {
    color: #444444;
}
